<div id="mainPage" class="easyui-layout" style="width:100%;height:100%">
    <div data-options="region:'west'" style="width:200px">
        <div id="ifaceList" title="网卡列表" style="width:100%;height:100%;"></div>
    </div>
    <div data-options="region:'center'">
        <table id="addressGrid" title="IP列表" style="width:100%;height:100%"></table>
    </div>
</div>

<div id="addAddrDlg" class="easyui-dialog formContainer" title="添加IP" style="width:450px;height:300px;"
    data-options="closed:true,modal:true,">
    <form id="addAddrForm" method="post" enctype='application/json'>
        <div class="formRow">
            <select class="easyui-combobox" name="family" data-options="label:'类型:',editable:false,panelMaxHeight:80"
                style="width:100%;">
                <option value="inet">IPv4</option>
                <option value="inet6">IPv6</option>
            </select>
        </div>
        <div class="formRow">
            <input class="easyui-textbox" type="text" name="local" data-options="label:'IP:',required:true"
                style="width:100%;" />
        </div>
        <div class="formRow">
            <input class="easyui-numberbox" type="text" name="prefixlen" data-options="label:'掩码:',min:0,required:true"
                style="width:100%;" />
        </div>
    </form>
</div>

<script>
    $(function () {
        var addressGrid;
        var ifaceList;
        var addAddrDlg;

        ifaceList = $('#ifaceList').datalist({
            method: 'GET',
            url: '/api/interfaces',
            valueField: 'name',
            textField: 'name',
            lines: true,
            loadMsg: '加载中...',
            onLoadSuccess: function () {
                ifaceList.datalist('selectRow', 0);
            },
            onSelect: function (index, iface) {
                addressGrid.datagrid({
                    url: '/api/interfaces/' + iface.type + '/' + iface.name + '/address'
                });
            }
        });

        var ShowAddAddrDlg = function () {
            var form = $('#addAddrForm').form({
                ajax: true,
                url: addressGrid.datagrid('options').url,
                success: function (data) {
                    console.log('data: ', data)
                    if (data.success) {
                        addAddrDlg.dialog('close');
                        $.messager.alert('添加IP地址成功!');
                        addressGrid.datagrid('reload');
                    } else {
                        $.messager.alert('添加IP地址失败!');
                    }
                }
            });
            form.form('reset');
            form.form('resetValidation');
            $('#addAddrDlg').dialog("open");
        }

        var DeleteAddr = function () {
            var selected = addressGrid.datagrid('getSelections');
            var url = addressGrid.datagrid('options').url;

            $.messager.progress();
            $.ajax({
                type: 'DELETE',
                url: url,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(selected),
                success: function (res) {
                    $.messager.alert('', '删除IP成功!');
                    addressGrid.datagrid('reload');
                },
                error: function (jqXHR, textStatus, err) {
                    console.log('textStatus: ', textStatus, ' error: ', err);
                    $.messager.alert('', '删除IP失败!');
                },
                complete: function () {
                    $.messager.progress('close');
                }
            });
        };

        addAddrDlg = $('#addAddrDlg').dialog({
            buttons: [{
                text: '保存',
                width: 80,
                handler: function () {
                    $('#addAddrForm').submit();
                }
            }, {
                text: '取消',
                width: 80,
                handler: function () {
                    addAddrDlg.dialog('close');
                }
            }]
        })

        var toollbar = [{
            text: '<i class="fa fa-plus-square" aria-hidden="true"></i> 添加',
            handler: ShowAddAddrDlg
        }, {
            text: '<i class="fa fa-trash" aria-hidden="true"></i> 删除',
            handler: DeleteAddr
        }, {
            text: '<i class="fa fa-refresh" aria-hidden="true"></i> 刷新',
            handler: function () {
                addressGrid.datagrid('reload');
            }
        }];
        var columns = [[
            { field: 'checkbox', checkbox: true },
            { field: 'local', title: 'IP', width: 200, align: 'left', sortable: true },
            { field: 'prefixlen', title: '掩码', width: 100, align: 'left' },
            {
                field: 'dynamic', title: '动态地址', width: 100, align: 'center',
                formatter: function (dynamic, row, index) {
                    return dynamic ? '是' : '否';
                }
            }
        ]];

        addressGrid = $('#addressGrid').datagrid({
            toolbar: toollbar,
            columns: columns,
            fitColumns: true,
            method: 'GET',
            remoteSort: false,
            striped: true,
            pagination: true,
            pageSize: 50,
            pageList: [20, 50, 100, 500]
        });
    });

    //# sourceURL=address.js
</script>