<table id="interfaceGrid"  style="width:100%;height:100%" sortName="name" sortOrder="asc"
    rownumbers="true" pagination="true" fitColumns="true">
    <thead>
        <tr>
            <th field="name" width="60" sortable="true">名称</th>
            <th field="type" width="100" sortable="true">网卡类型</th>
            <th field="mac" width="200" sortable="true">MAC</th>
            <th field="linkStatus" width="80" align="right" sortable="true">连接状态</th>
            <th field="enabled" width="80">是否启用</th>
            <th field="description" width="200" align="center">备注</th>
        </tr>
    </thead>
</table>


<script>
    $(function(){
        var grid;
        var toollbar =  [{
            text:'添加',
            iconCls:'icon-add',
            handler:function(){alert('add')}
        },{
            text:'修改',
            iconCls:'icon-cut',
            handler:function(){alert('cut')}
        },{
            text:'删除',
            iconCls:'icon-save',
            handler:function(){alert('save')}
        }, {
            text:'刷新',
            iconCls:'icon-reload',
            handler:function(){
                grid.datagrid('reload');
            }
        }];

        grid = $('#interfaceGrid').datagrid({
            toolbar: toollbar,
            method: 'GET',
            url: '/api/interfaces',
            loadMsg: '处理中，请等待...'
        });
        
        grid.datagrid('load');
        
    })
</script>