<table id="tt" class="easyui-datagrid" style="width:100%;height:100%" sortName="itemid" sortOrder="asc"
    rownumbers="true" pagination="true">
    <thead>
        <tr>
            <th field="itemid" width="80" sortable="true">Item ID</th>
            <th field="productid" width="100" sortable="true">Product ID</th>
            <th field="listprice" width="80" align="right" sortable="true">List Price</th>
            <th field="unitcost" width="80" align="right" sortable="true">Unit Cost</th>
            <th field="attr1" width="220">Attribute</th>
            <th field="status" width="60" align="center">Stauts</th>
        </tr>
    </thead>
</table>


<script>
    console.log('hello')
</script>