<table id="interfaceGrid" style="width:100%;height:100%"></table>

<script>
    $(function () {
        var grid;
        var toollbar = [{
            text: '<i class="fa fa-plus-square" aria-hidden="true"></i> 添加',
            handler: function () { alert('add') }
        }, {
            text: '<i class="fa fa-pencil-square" aria-hidden="true"></i> 修改',
            handler: function () { alert('cut') }
        }, {
            text: '<i class="fa fa-trash" aria-hidden="true"></i> 删除',
            handler: function () { alert('delete') }
        }, {
            text: '<i class="fa fa-refresh" aria-hidden="true"></i> 刷新',
            handler: function () {
                grid.datagrid('reload');
            }
        }];

        var columns = [[
            { field: 'checkbox', checkbox: true },
            { field: 'name', title: '名称', width: 80, align: 'left', sortable: true },
            { field: 'type', title: '类型', width: 100, align: 'left', sortable: true },
            { field: 'mac', title: 'MAC', width: 200, align: 'left', sortable: true },
            { field: 'linkStatus', title: '连接状态', width: 80, align: 'left', sortable: true },
            {
                field: 'disabled',
                title: '是否启用',
                width: 80,
                align: 'center',
                sortable: true,
                formatter: function (disabled, row, index) {
                    return disabled ? '否' : '是';
                }
            },
            { field: 'description', title: '备注', width: 200, align: 'left' }
        ]];

        grid = $('#interfaceGrid').datagrid({
            toolbar: toollbar,
            columns: columns,
            fitColumns: true,
            method: 'GET',
            url: '/api/interfaces',
            remoteSort: false,
            sortName: 'name',
            sortOrder: 'asc',
            pagination: true,
            pageSize: 50,
            pageList: [20, 50, 100]
        });

    })

    //# sourceURL=interface.js
</script>